<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71894349027-j6r59d0gvkb996t2a200pfso1qth4m80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71894349027-j6r59d0gvkb996t2a200pfso1qth4m80</string>
	<key>API_KEY</key>
	<string>AIzaSyDCEy6zfI0reLF3tes9SgFvwt5CXGUzJ_c</string>
	<key>GCM_SENDER_ID</key>
	<string>71894349027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.convivial.societyrun</string>
	<key>PROJECT_ID</key>
	<string>societyrun-test</string>
	<key>STORAGE_BUCKET</key>
	<string>societyrun-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71894349027:ios:7303395373a904719e81d6</string>
	<key>DATABASE_URL</key>
	<string>https://societyrun-test.firebaseio.com</string>
</dict>
</plist>