<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178581095763-7l9bumkpm8l4ja131vt883u2mt4mibsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178581095763-7l9bumkpm8l4ja131vt883u2mt4mibsc</string>
	<key>API_KEY</key>
	<string>AIzaSyDDgyiYkZ5IHgqmy4Tn1ZG501QDre1SLOk</string>
	<key>GCM_SENDER_ID</key>
	<string>178581095763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.convivial.SocietyRunApp</string>
	<key>PROJECT_ID</key>
	<string>newsocietyrunapp</string>
	<key>STORAGE_BUCKET</key>
	<string>newsocietyrunapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178581095763:ios:b253924fd92707b1c8cda6</string>
	<key>DATABASE_URL</key>
	<string>https://newsocietyrunapp.firebaseio.com</string>
</dict>
</plist>